body {
    padding: 20px;
    background-color: #DA291C;
}

h1 {
    font-size: 5.5em;
}

#heading {
    text-align: center;
    color: #FFC72C;
}

.done-button {
    text-align: center;
}

form {
    text-align: center;
}

.questions {
    background-color: white;
    padding: 20px;
    margin: 20px;
}

.timer {
    background-color: white;
    padding:20px;
    margin: 20px;
}

.start {
    background-color: white;
    text-align: center;
    padding: 20px;
    margin: 20px;
}

#start-button {
    width: 200px;
    padding: 20px;
    margin: 10px;
    font-size: 28px;
    color: #DA291C;

}